<!--The content below is only a placeholder and can be replaced.-->
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let title of myProdTitle">
        {{title}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of myProduct">
      <td no-wrap class="block text-nowrap">
        {{value.id}}
      </td>
      <td no-wrap class="block text-nowrap">
        {{value.name}}
      </td>
      <td no-wrap class="block text-nowrap">
        {{value.price}}
      </td>
      <td no-wrap class="block text-nowrap">
        {{value.compareAtPrice}}
      </td>
      <td no-wrap class="block text-nowrap">
        <div *ngFor="let val of value.images">
          <img [src]="val" alt="" width="100" height="100" />
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.thumbimages">
          <img [src]="val" alt="" width="50" height="50" />
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.badges">
          <img [src]="val" alt="" />
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        {{value.rating}}
      </td>
      <td no-wrap class="block no-wrap">
        {{value.reviews}}
      </td>
      <td no-wrap class="block no-wrap">
        {{value.availability}}
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.features">
          <div class="">
            <div class="">{{val.title}}</div>
            <div class="text-nowrap">{{val.value}}</div>
          </div>
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.highlights">
          <div class="">
            <div class="text-nowrap">{{val.value}}</div>
          </div>
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        {{value.seller}}
      </td>
      <td no-wrap class="block no-wrap">
        {{value.category}}
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.options">
          {{val}}
        </div>
      </td>
      <td>
        <div *ngFor="let val of value.description">
          <div>
            <div class="">{{val.value}}</div>
          </div>
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.bankoffers">
          <div class="">
            <div class="text-nowrap">{{val.value}}</div>
          </div>
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.ram">
          <div class="">
            <div class="text-nowrap">{{val.value}}</div>
          </div>
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.storage">
          <div class="">
            <div class="text-nowrap">{{val.value}}</div>
          </div>
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.epo">
          <div class="">
            <div class="text-nowrap">{{val.value}}</div>
          </div>
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.replacement">
          <div class="">
            <div class="text-nowrap">{{val.value}}</div>
          </div>
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.productdesc">
          <div class="">
            <div class="">{{val.title}}</div>
            <div class="text-nowrap">{{val.value}}</div>
          </div>
        </div>
      </td>
      <td no-wrap class="block no-wrap">
        <div *ngFor="let val of value.specifications">
          <div class="">
            {{val.title}}
          </div>
          <div class="text-nowrap">
            {{val.value}}
          </div>
          <div class="" *ngFor="let v of val.subspecs">
            <div class="">
              <div class="">{{v.title}}</div>
              <div class="text-nowrap">{{v.value}}</div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
